[package]
name = "basic"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
rakstar = { path = "../../crates/rakstar" }
tokio = { version = "1.49.0", features = ["full"] }
